<div class="row">
    <div class="col-md-12">
    <div class="pull-left">
        <h4>Employee Management</h4>
    </div>
    <div class="pull-right">
        <p><i class="fa fa-dashboard"></i>&nbsp;Employee Management <i class="fa fa-chevron-right"></i>&nbsp;<span>Employee</span></p>
    </div>       
    </div>
</div>
<div class="row">
    <!-- <div class="col-md-6 d-flex align-items-stretch grid-margin">
      
    </div> -->

    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="pull-left">
                        <h5 class="card-title1">List Of Employee-{{totalCount}}</h5>
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
              <button type="button" class="btn btn-primary user-btn" routerLink="/add-employee-management"><i class="fa fa-search-plus"></i>Add Employee</button>
                          
                            <!-- <button type="button" routerLink="/register-user" class="btn btn-primary">Add New Department</button> -->
                        </div>
                        </div>
            </div>
            <hr class="user-hr">
            <br><br>
            <!-- <div class="form-group row">
                <label for="employee" class="col-sm-3 col-form-label">Choose employee</label>
                <div class="col-sm-3">
                <select name="employee" class="form-control" (change)="selectemployee($event)">
                    <option value="">Select Employee</option>
                    <option *ngFor="let emp of emps" value="{{emp.emp_id}}">{{emp.first_name}}</option>
                </select>
            </div>
            <div class="col-sm-3"></div>
            </div> -->

            <div class="form-group row">
                <label for="state" class="col-sm-3 col-form-label">Choose Emp Data</label>
                <div class="col-sm-9">
    <select name="emp_stateid" class="form-control"  (change)="changeempvalue($event)">
      <option value="">Select Employee</option>
      <option *ngFor="let data of datas" value="{{data.emp_id}}">{{data.first_name}}</option>
                </select>
            </div>
            <div class="col-sm-3"></div>

            </div>
            
          <br><br>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>
                            Picture
                        </th>
                        <th>
                            Employee Name
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Age
                        </th>
                        <th>
                            Birthdate
                        </th>
                        <th>
                            Hiered date
                        </th>
                        <th>
                            Department
                        </th>
                        <th>
                            Division
                        </th>
                        <th>
                          Action
                        </th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>
                            <img [src]="employee.image ? imagePath+employee.image : 'assets/images/no-image.png'" height="50px">
                      
                          </td>
                         <td>
                            {{employee.first_name}}
                         </td>
                         <td>
                            {{employee.address}}
                         </td>
                         <td>
                           {{employee.age}}
                         </td>
                         <td>
                           {{employee.birthday}}
                        </td>
                        <td>
                           {{employee.hiered_date}}
                        </td>
                        <td>
                           {{employee.department_name}}
                        </td>
                        <td>
                        {{employee.division_name}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-warning user-btn7" (click)="editemp(employee)">update</button>&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-danger user-btn7" (click)="deleteemp(employee.emp_id)">Delete</button>
                        </td>
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  
