<div class="row">
    <div class="col-md-3"></div>
    <div class="col-6 stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Update Department</h4>
            
            <form (ngSubmit)="Editdepartment()">
             <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Full Name</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="dept_name" [(ngModel)]="department.dept_name" placeholder="Enter Department Name">
                    </div>
              </div>
              <button type="submit" class="btn btn-success mr-2">Submit</button>
            </form>
          </div>
        </div>
      </div>
    <div class="col-md-3">

    </div>

</div>