.user-btn2{
    font-size: 13px;
    padding: 9px 70px 9px 70px;
    text-align: center;

}

.user-btn{
    font-size: 11px;
    padding: 9px 10px 9px 10px;
    text-align: center;

}

.user-hr{
    border: 1.5px solid #c6bebe;
    // justify-content: center;

}

.user-hr2{
    border: 1px solid #c6bebe;
    // justify-content: center;

}